<div class="row small-11 small-centered columns">
  <% @modelings.each do |modeling| %>
  <a class="fancybox" rel="group" href="<%= modeling.image %>">
    <div class="small-11 small-centered columns banner" id="banner1">
      <h1>EXPRESSIONS</h1>
    </div>
  </a>
  <% end %>
</div>

<div class="row small-11 small-centered columns">
  <div class="small-11 small-centered columns banner" id="banner2"><h1>GENTLEMAN Q</h1></div>
</div>
<div class="row small-11 small-centered columns">
  <div class="small-11 small-centered columns banner" id="banner3"><h1>MODEL WORKS</h1></div>
</div>
<div class="row small-11 small-centered columns">
  <div class="small-11 small-centered columns banner" id="banner4"><h1>PERSONAL WORK</h1></div>
</div>
<!-- <a class="fancybox" rel="group" href="big_image_2.jpg"><img src="assets/model2.jpg" alt="" /></a> -->

<div class="heightest">yeah</div>