<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <% for modeling in @modelings %>
    <li>
      <a class="fancybox-thumb" rel="fancybox-thumb" href="<%= modeling.image %>" title="<%= modeling.description %>">
        <img src="<%= modeling.image %>" alt="">
        
      </a>
    </li>
  <% end %>
</ul>
