<ul class="large-block-grid-4 text-center" id="img-model">
  <% @modelings.each do |modeling| %>
    <% if current_admin %>
      <%= button_to "delete", modeling, :method => :delete %>
    <% end %>
    <li>
      <%= image_tag modeling.image_url(:thumb).to_s %>
      <h4 class="desc"><%= modeling.description %></h4>
    </li>
  <% end %>
</ul>