<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <% for modeling in @modelings %>
    <li>
      <a class="fancybox" rel="gallery1" href="<%= modeling.image %>" title="<%= modeling.description %>">
        <%= image_tag modeling.image_url(:thumb) if modeling.image? %>
      </a>
    </li>
  <% end %>
</ul>
