<!-- <ul class="large-block-grid-2" id="img-splash">
  <li><img src="assets/model1.jpg" alt=""></li>
  <li><img src="assets/model5.jpg" alt=""></li>
  <li><img src="assets/model4.jpg" alt=""></li>
  <li><img src="assets/model3.jpg" alt=""></li>
</ul> -->

<div id="about">
  <h1>What do you do?</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sequi, enim, iste dolorem aspernatur culpa ratione dolorum rem architecto similique excepturi nam quos est illum harum quidem a natus provident!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, quia, similique ut corporis accusantium natus quae nobis dolores tempora aliquam hic tempore minima! Minima quasi aliquid optio magnam adipisci molestias.</p>
</div>
<video id="video-1" class="video-js vjs-default-skin"
  autoplay loop muted="true" preload="auto" poster="http://video-js.zencoder.com/oceans-clip.png" width="100%" height="auto"
  data-setup='{"example_option":true}'>
<source src="assets/video2.mp4" type='video/mp4' />
<source src="assets/video2.webm" type='video/webm' />
<source src="assets/video2.ogv" type='video/ogg' />
</video>  