
<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "vendor/modernizr" %>
<%= csrf_meta_tags %>
<%= javascript_include_tag "application" %>
<div id="about">
  <a href="/contents">
    ENTER <br>
    MY <br>
    WORLD
  </a>
</div>
<video id="video-1" class="video-js vjs-default-skin"
  autoplay loop muted="true" preload="auto" poster="assets/vid-pic.png" width="auto" height="100%"
  data-setup='{"example_option":true}'>
<source src="assets/video2.mp4" type='video/mp4' />
<source src="assets/video2.webm" type='video/webm' />
<source src="assets/video2.ogv" type='video/ogg' />
</video>  

