
<%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
<%= javascript_include_tag "application" %>
<div id="about">
  <h1>What do you do?</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sequi, enim, iste dolorem aspernatur culpa ratione dolorum rem architecto similique excepturi nam quos est illum harum quidem a natus provident!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, quia, similique ut corporis accusantium natus quae nobis dolores tempora aliquam hic tempore minima! Minima quasi aliquid optio magnam adipisci molestias.</p>
  <a href="/modelings">My World</a>
</div>
<video id="video-1" class="video-js vjs-default-skin"
  autoplay loop muted="true" preload="auto" poster="" width="100%" height="auto"
  data-setup='{"example_option":true}'>
<source src="assets/video2.mp4" type='video/mp4' />
<source src="assets/video2.webm" type='video/webm' />
<source src="assets/video2.ogv" type='video/ogg' />
</video>  

