<body class="about-me">
  <div class="row">
    <div class="medium-1"></div>
    <div class="medium-3" id="the-model">
      <img src="assets/about-pic.jpg" alt="">
      <h1 class="about-header">The Model</h1>
      <p>
        Height: 6' 1"
        <br>
        Weight: 155 lbs
        <br>
        Neck: 16"
        <br>
        Sleeve: 32"
        <br>
        Chest: 37"
        <br>
        Waist: 31"
        <br>
        Inseam: 31"
        <br>
        Suit: 38R
        <br>
        Shoe: 10.5
        <br>
        Hair color: Black
        <br>
        Hair length: Medium
        <br>
        Eye color: Brown
        <br>
        Build: Athletic Slim fit
      </p>
    </div>
    <div class="medium-7" id="the-man">
      <h1 class="about-header">The Man</h1>
      <h2 class="about-header">William Pei Yuan</h2>
      <p>
        I graduated with a Mechanical Engineering degree from New Jersey Institute of Technology and pursed my Masters in Mechanical Engineering at the University of Manchester in Manchester United Kingdom.
      </p>
      <p>
        Freelancing in the fields of photography (Fashion, Photobooth, Event), Modeling (Printwork, Runway) and Fitness (Breakdancing, Flexibility Training).
        My other hobbies include tailoring, creating instagram video projects and selling lots of stuff on eBay.
      </p>
      <p>
        I am easy going, passionate and disciplined. I enjoy working with like-minded individuals to create works of art whether through dance, photography, fashion, you name it. I am always open for collaborate ideas and will always make time for anyone who is serious with their work as I am.
      </p>
      <p>
        Just a bit about myself...after quitting my government job as an mechanical engineer for the USEPA in 2012, I have been pushing my freelance work ever since. The struggle is a great test for me, ups and downs, depression, anxiety, happiness all wrapped in one.
      </p>
      <p>
        My life goal is to create a lifestyle that I can be happy with, and share these experiences with the people around me.
      </p>
    </div>
    <div class="medium-1"></div>
  </div>
</body>



