@import url(http://fonts.googleapis.com/css?family=Exo+2:700);

html body {
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.about-me {
  background: url(bridge.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-bottom: 5%;
}

/****** This is the home page ******/

.heightest {
  height: 800px;
}

#video-1 {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1000;
}

#about {
  /*background-color: rgba(44, 62, 80,.3);*/
  display: none;
  color: white;
  font-family: 'Exo 2', sans-serif;
  font-size: 8em;
  float: left;
  text-align: center;
  margin-left: 10%;
  margin-top: 10%;
}

i {
  color: white;
  margin: 10px 5px 0 5px;
}

a, a:visited, a:hover, a:active {
  color: white;
}

/****** This is the content page ******/

#banner1 {
  background: url(nude.jpg) no-repeat center -280px fixed;
  height: 150px;
  width: 100%;
  margin-top: 80px;
}

#banner2 {
  background: url(gq.jpg) no-repeat center center fixed;
  height: 150px;
  width: 100%;
  margin-top: 80px;
}

#banner3 {
  background: url(modelings.jpg) no-repeat center center fixed;
  height: 150px;
  width: 100%;
  margin-top: 80px;
}

#banner3 h1 {
  color: black;
}

#banner4 {
  background: url(personal.jpg) no-repeat center center fixed;
  height: 150px;
  width: 100%;
  margin-top: 80px;
}

.banner h1 {
  color: white;
}

/****** This is the modeling page ******/

#pics {
  clear: both;
  float: right;
  position: relative;
}

.desc {
  background-color:rgba(52, 152, 219,.7);
  position: absolute;
  top: 0;
  left: 10;
}

/****** the about page ******/

.about-header {
  font-family: serif;
  color: white;
}

#the-model {
  background: rgba(52, 73, 94, .5);
  color: white;
  float: right;
  margin-top: 10%;
  padding: 10px;
}

#the-model img {
  border-radius: 50px;
}

#the-man {
  background: rgba(52, 73, 94, .5);
  color: white;
  float: left;
  margin-top: 10%;
  padding: 10px;
}










