html body {
  height: 100%;
  width: 100%;
}

/****** This is the home page ******/

#video-1 {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1000;
}

#about {
  background-color: rgba(44, 62, 80,.3);
  display: none;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 15%;
}

i {
  color: white;
  margin: 10px 5px 0 5px;
}

/****** This is the modeling page ******/

#img-model {
  margin: 0;
}












