@import url(http://fonts.googleapis.com/css?family=Exo+2:700);

html body {
  height: 100%;
  width: 100%;
}

/****** This is the home page ******/

#video-1 {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1000;
}

#about {
  /*background-color: rgba(44, 62, 80,.3);*/
  display: none;
  color: white;
  font-family: 'Exo 2', sans-serif;
  font-size: 8em;
  float: left;
  text-align: center;
  margin-left: 10%;
  margin-top: 10%;
}

i {
  color: white;
  margin: 10px 5px 0 5px;
}

a, a:visited, a:hover, a:active {
  color: white;
}

/****** This is the modeling page ******/

#img-model {
  margin: 0;
  padding: 0;
  position: relative;
}

.desc {
  background-color:rgba(52, 152, 219,.7);
  position: relative;
  float: right;
}














